.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adapte la vidéo au conteneur */
    z-index: -1; /* Place la vidéo derrière le contenu */
}

.elements-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-item {
    position: absolute;
    cursor: pointer;
}

.element-icon {
    width: 50px;
    height: 50px;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
